<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <% include ../../partials/header %>
    <main>
      <section class="book-view container">
        <h2 class="view-title">My Books</h2>
        <section class="results-list">
          <ul id="results-list">
            <% results.forEach(book => { %>
              <li class="results-items" data-book-id="<%= book.isbn %>">
                <div class="results-container">
                  <!-- <img src=<%= book.image_url %>> -->
                  <div class="book-overlay">
                    <h3><%= book.title %></h3>
                    <p><%= book.author %></p>
                    <img src="<%= book.image_url %>">
                    <p><%= book.description %></p>        
                  </div>
                </div>
                <form id="create-form" action="/books" method="post">
                  <input type="text" name="title" value="<%= book.title %>">
                  <input type="text" name="author" value="<%= book.author %>">
                  <input type="text" name="isbn" value="<%= book.isbn %>">
                  <input type="text" name="image_url" value="<%= book.image_url %>">
                  <textarea name="description" value="<%= book.description %>" cols="30" rows="5"></textarea>
                  <button type="submit">Add to Database</button>
                </form>
              </li>
            <% }) %>
          </ul>
        </section>
      </section>
    </main>
    <% include ../../partials/footer %>
  </body>
</html>
