<!-- TODO: Can this be used for the detail view of a newly-added book? -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <% include ../../partials/header %>
    <main>
      <section class="book-view container">
        <div class="book-container">
          <h3><%= book.title %></h3>
          <div class="book-details">
            <p><%= book.author %></p>
            <p><%= book.isbn %></p>
          </div>
          <img src="<%= book.image_url %>">
          <p><%= book.description %></p>
        </div>
      </section>
    </main>
    <% include ../../partials/footer %>

    <!-- External CDN Resources -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Application Resources -->
    <script src="/scripts/index.js" type="text/javascript"></script>
    <script src="/scripts/models/book.js" type="text/javascript"></script>
  </body>
</html>
