<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <% include ../../partials/header %>
    <main>
      <section class="book-view container">
        <div class="book-container">
          <h3><%= book.title %></h3>
          <div class="book-details">
            <p><%= book.author %></p>
            <p><%= book.isbn %></p>
          </div>
          <img src="<%= book.image_url %>">
          <p><%= book.description %></p>
        </div>
      </section>
    </main>
    <% include ../../partials/footer %>
  </body>
</html>
